@import "compass/reset";
@import "compass/utilities";
@import "compass/css3";

body {
  background:        #fff;
  color:             #0d0d0d;
  background-color:  #4B7399;
  font-family:       Verdana, Helvetica, Arial;
  font-size:         14px;
  padding-top:       10px;
  padding:           50px;
}

div#container {
  width:             75%;
  margin:            0 auto;
  background-color:  #FFF;
  padding:           20px 40px;
  border:            solid 1px black;
  margin-top:        20px;
}

div#search {
  display:         inline;
  height:          30px;
  padding-bottom:  40px;
  position:        relative;
}

div#name {
  height:          20px;
  padding-bottom:  5px;
  width:           100%;

  p {
    font-style:  italic;
    float:       right;
  }
}

div#login {
  display:  inline;
  float:    right;
}

div.item {
  position:       relative;
  border:         1px solid;
  border-bottom:  none;
  border-left:    none;
  border-right:   none;
  height:         80px;
  padding:        10px;
  position:       relative;
}


div.arcgis-link {
  bottom:         0px;
  margin-bottom:  10px;
  padding-top:    10px;
  position:       absolute;
}

span.arcgis-link {
  padding-bottom:  5px;
  padding-left:    10px;
}

div.logo {
  img {
    border:        1px solid #021a40;
    float:         left;
    height:        60px;
    margin-right:  10px;
    margin-top:    10px;
    padding:       1px;
    position:      relative;
    width:         60px;
  }
}

div.name {
  color:        #4d4d4d;
  font-size:    18px;
  font-weight:  bold;
  padding-bottom: 5px;
}

div.description {
  font-size:  16px;
}

div.owner {
  font-style:    italic;
  float:         right;
  margin-right:  20px;
}


form .field, form .actions {
  margin: 12px 0;
}

form {
  display: inline;
}

input#search {
  font-size:       20px;
  margin-bottom:   15px;
  padding-bottom:  8px;
  padding-left:    8px;
  padding-top:     8px;
  width:           600px;
}

.btn {
  -moz-border-radius:     4px;
  -webkit-border-radius:  4px;
  border-radius:          4px;
  margin-left:            18px;
  border:                 1px solid #18ab29;
  display:                inline-block;
  cursor:                 pointer;
  font-family:            arial;
  font-size:              20px;
  padding:                8px 31px;
  text-decoration:        none;
}
.btn:hover {
  background-color:  #5cbf2a;
}

.btn:hover, div.item:hover, input[type='submit']:hover {
  background-color:  #FFFFAB;
}

.btn:active {
  position:  relative;
  top:       1px;
}

a {
  border:           none;
  text-decoration:  none;
  color:            #A0B4F0;
}
