@import "compass/reset";
@import "compass/utilities";
@import "compass/css3";

body {
  background:  #fff;
  color:       #0d0d0d;
  font:        62.5% Arial, Helvetica, sans-serif;
  padding:     50px;
}

div.result {
  position: relative;
  border:         1px solid;
  border-bottom:  none;
  border-left:    none;
  border-right:   none;
  padding:        10px;
  height:         80px;
}

div.arcgis-link {
  position: absolute;
  bottom: 0px;
  padding-top: 10px;
}

span.arcgis-link {
  padding-left: 10px;
  padding-bottom: 5px;
}

div.logo {
  img {
    float:          left;
    position:       relative;
    width:          60px;
    padding-right:  10px;
    height:         60px;
  }
}

div.name {
  color:        #4d4d4d;
  font-weight:  bold;
  font-size:    18px;
}

div.description {
  font-size:    16px;
}

div.owner {

}

div#search {
  display: inline;
}

form {
}

input#search {
  width: 600px;
  font-size: 20px;
  padding-top:8px;
  padding-bottom:8px;
}

.btn {
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  margin-left: 20px;
  border:1px solid #18ab29;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:arial;
  font-size:20px;
  padding:8px 31px;
  text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
}
.btn:hover {
  background-color:#5cbf2a;
}
.btn:active {
  position:relative;
  top:1px;
}
